# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# newline ending every file
[*]
insert_final_newline = true

# Tab indentation (no size specified)
[*.js]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.less]
indent_style = space
indent_size = 2

[{.jsbeautifyrc}]
indent_style = space
indent_size = 2

