<div class="form-box" id="login-box" ng-controller="LoginController as vm">
  <div class="header">Sign In</div>
  <form role="form">
    <div class="body bg-gray">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="vm.loginData.userName" required autofocus>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="vm.loginData.password" required>
      </div>
    </div>
    <div class="footer">
      <button ng-click="vm.login()" type="submit" class="btn bg-olive btn-block">Sign me in</button>

      <a ui-sref="register" class="text-center">Register an account</a>
    </div>
  </form>
</div>
