<form class="form-login" role="form" ng-controller="LoginController as login">
  <h2 class="form-login-heading">Login</h2>
  <input type="text" class="form-control" placeholder="Username" ng-model="login.loginData.userName" required autofocus>
  <input type="password" class="form-control" placeholder="Password" ng-model="login.loginData.password" required>
  <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="login.login()">Login</button>
  <div class="alert alert-danger" ng-hide="login.message == ''">
    {{login.message}}
  </div>
</form>
